<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>agenda</display-name>
  <welcome-file-list>
    <welcome-file>admin/login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logincontroller</display-name>
    <servlet-name>logincontroller</servlet-name>
    <servlet-class>br.com.controller.logincontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logincontroller</servlet-name>
    <url-pattern>/logincontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutcontroller</display-name>
    <servlet-name>logoutcontroller</servlet-name>
    <servlet-class>br.com.controller.logoutcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutcontroller</servlet-name>
    <url-pattern>/logoutcontroller</url-pattern>
  </servlet-mapping>
</web-app>